# 공공데이터포털(data.go.kr) 서비스 키
# 1) https://www.data.go.kr 회원가입 후 아래 3개 API에 활용신청 (자동승인)
#    - 국립중앙의료원_전국 약국 정보 조회 서비스
#    - 국립중앙의료원_전국 병의원 찾기 서비스
#    - 한국천문연구원_특일 정보 (공휴일 조회용, 선택)
# 2) 마이페이지 > 오픈API > 인증키에서 [Encoding] 키를 복사해 아래에 붙여넣기
DATA_GO_KR_SERVICE_KEY=

# 카카오맵 JavaScript 키
# https://developers.kakao.com > 내 애플리케이션 > 앱 키 > JavaScript 키
# [카카오맵] > [사용 설정] > [상태] 를 ON 으로 켜고,
# [앱] > [플랫폼 키] > [JavaScript 키] > [JavaScript SDK 도메인] 에
# 아래 도메인을 모두 등록해야 지도가 뜬다:
#   http://localhost:5173
#   http://localhost:4173
#   https://kjnewsletter.github.io
# 설정 후 확인: npm run check:kakao
VITE_KAKAO_MAP_KEY=
